.contianer{
    // background-color: white;
    position: absolute;
    width: 13.75rem;
    border-radius: 3px;
    overflow: hidden;
    p {
        padding: 1.5rem;
        padding-bottom: 0rem;
        margin: 0;
        font-weight: 600;
        font-size: .9rem;
        &:hover, &.selected {
            cursor: pointer;
            color: #f28123;
        }


        &:last-child {
            padding: 1.5rem;
        }
    }
}
