<div id="footer" class="footer primary-background">
  <div class="main-content">
    <div class="about-us item">
      <h2>About us</h2>
      <div class="underline"></div>
      <p translate>Lorem</p>
    </div>
    <div class="get-in-touch item">
      <h2>Get in Touch</h2>
      <div class="underline"></div>
      <p>34/8, East Hukupara, Gifirtok, Sadan.</p>
      <p>support@fruitkha.com</p>
      <p>+00 111 222 3333</p>
    </div>
    <div class="pages item">
      <h2>Pages</h2>
      <div class="underline"></div>
      <p>
        <span class="material-icons arrow">
          arrow_forward_ios
        </span>
        <span class="text"> Home</span>
      </p>
      <p>
        <span class="material-icons arrow">
          arrow_forward_ios
        </span>
        <span class="text"> About</span>
      </p>
      <p>
        <span class="material-icons arrow">
          arrow_forward_ios
        </span>
        <span class="text"> Shop</span>
      </p>
      <p>
        <span class="material-icons arrow">
          arrow_forward_ios
        </span>
        <span class="text"> News</span>
      </p>
      <p>
        <span class="material-icons arrow">
          arrow_forward_ios
        </span>
        <span class="text"> Contact</span>
      </p>
    </div>
    <div class="subscribe item">
      <h2>Subscribe
      </h2>
      <div class="underline"></div>
      <p>Subscribe to our mailing list to get the latest updates.</p>
      <div class="input-wrapper">
        <input type="text" class="form-control" placeholder="Email">
        <div class="btn button-hover">
          <span class="material-icons">
            send
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
