// header
#header {
  .navbar {
    &.scrolled {
      background-color: whitesmoke;
    }
    .item-2 {
      .nav-link,
      .nav-link:focus {
        color: #051922;
      }
    }
    .material-icons {
      color: #051922;
    }

    @media screen and (max-width: 991px) {
      .navbar-toggler {
        span {
          color: whitesmoke;
          &:hover {
            color: whitesmoke !important;
          }
        }
      }
    }
  }

  // for small screen
  .table-container {
    #table {
      .tr {
        td {
          color: #0c1923;
          background-color: whitesmoke;
          .btn {
            background-color: #afb3b7;
            color: #253039;
          }
        }
        a {
          background-color: white;
          color: #0c1923;
        }
      }
    }
  }
}

$White-solid: #ffffff;
$Wild-Sand: #f5f5f5;
$Black-solid: #000000;
$Firefly: #0c1923;

.text-color {
  color: $Black-solid;
  &:hover {
    color: $Black-solid;
  }
}

.primary-background {
  background-color: $Black-solid;
  color: $White-solid;
}

.secondary-background {
  background-color: $Firefly;
  color: $Wild-Sand;
}

// to give white background on hover of btns
.button-hover:hover {
  background-color: $Wild-Sand !important;
}

.header-background {
  background-color: #CCD6DD;
  color: #292F33;
}


#card {
  border: none;
  &:hover {
    background-color: $Black-solid;
  }
  .card-body {
    color: $Wild-Sand;
    .decrease,
    .increase {
      &:hover {
        color: $White-solid;
      }
    }
  }
}

#news-card {
  background-color: $Firefly;
  color: $White-solid;
  &:hover {
    background-color: $Black-solid;
  }
  h6,
  h5,
  p,
  .btn {
    color: $Wild-Sand;
  }
}

#footer {
  background-color: $Wild-Sand;
  color: $Firefly;
  .main-content {
    .item {
      h2 {
        color: $Firefly;
      }

      p {
        color: $Firefly;
      }

      .input-wrapper {
        .btn {
          background-color: wheat;
          &:hover {
            color: wheat;
          }
        }

        .form-control {
          background-color: wheat;
          color: #012738;
        }
      }
    }
  }
}
