// header
#header {
  .navbar {
    &.scrolled {
      background-color: #051922;
    }
    .item-2 {
      .nav-link,
      .nav-link:focus {
        color: whitesmoke;
      }
    }
    .material-icons {
      color: whitesmoke;
    }

    @media screen and (max-width: 991px) {
      .navbar-toggler {
        span {
          color: #051922;
          &:hover {
            color: #051922 !important;
          }
        }
      }
    }
  }

  // for small screen
  .table-container {
    #table {
      .tr {
        td {
          color: white;
          background-color: #0c1923;
          .btn {
            background-color: #253039;
            color: #afb3b7;
          }
        }
        a {
          background-color: #0c1923;
          color: white;
        }
      }
    }
  }
}


$White-solid: #ffffff;
$Wild-Sand: #f5f5f5;
$Black-solid: #000000;
$Firefly: #0c1923;

.text-color {
  color: $Wild-Sand;
}

.primary-background {
  background-color: $White-solid;
  color: $Black-solid;
}

.secondary-background {
  background-color: $Wild-Sand;
  color: $Firefly;
}

.button-hover:hover {
  background-color: $Firefly !important;
}

#card {
  border: none;
  &:hover {
    background-color: $White-solid;
  }
  .card-body {
    color: $Firefly;
    .decrease,
  .increase {
    &:hover {
      color: $Black-solid;
    }
  }
  }
}