<div class="shop" id="shop">
  <div class="header header-background">
    <p class="text-header" translate>SHOP.FRESH-AND-ORGANIC</p>
    <p class="page" translate>SHOP.Shop</p>
  </div>
  <div class="main-content primary-background">
    <div class="cards">
      <app-card
      *ngFor="let fruit of pages[activePageNumber-1]"
      [currency]="currency"
      [exchangerate]="exchangerate"
      [fruit]="fruit"
      (fruitSelected)="onFruitSelect($event)">
      </app-card>
    </div>
    <div class="pagenator">
      <button class="btn" (click)="getFruits(activePageNumber-1)" [disabled]="activePageNumber === 1" translate>SHOP.Prev</button>
      <button class="btn" [ngClass]="{'active': page === activePageNumber}"
        *ngFor="let page of pagesCount" (click)="getFruits(page)">
        {{ page }}
      </button>
      <button class="btn" (click)="getFruits(activePageNumber+1)" [disabled]="activePageNumber === pagesCount.length" translate>SHOP.Next</button>
    </div>
  </div>
</div>
