<section class="section">
  <nav appScroll class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand item-1" id="navbar-brand" href="#"><img class="logoImg" src="assets\img\logo.png"
        alt="logo"></a>
    <ul class="navbar-nav item-2 hide-md">
      <li
      class="nav-item active"
      routerLinkActive="active"
      (mouseover)="onHoverDropdown('homeOptions', $event.type)"
      (mouseleave)="onHoverDropdown('homeOptions', $event.type)">
        <a class="nav-link" routerLink="/">Home</a>
        <app-custom-dropdown *ngIf="showDropdown === 'homeOptions'" [options]="homeOptions"(optionSelected)="onOptionSelect($event)"></app-custom-dropdown>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">About</a>
      </li>
      <li
      class="nav-item"
      routerLinkActive="active"
      (mouseover)="onHoverDropdown('pagesOptions', $event.type)"
      (mouseleave)="onHoverDropdown('pagesOptions', $event.type)">
        <a class="nav-link" routerLink="/">Pages</a>
        <app-custom-dropdown *ngIf="showDropdown === 'pagesOptions'" [options]="pagesOptions"(optionSelected)="onOptionSelect($event)"></app-custom-dropdown>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">News</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Contact</a>
      </li>
      <li
      class="nav-item"
      routerLinkActive="active"
      (mouseover)="onHoverDropdown('shopOptions', $event.type)"
      (mouseleave)="onHoverDropdown('shopOptions', $event.type)">
        <a class="nav-link" routerLink="/">Shop</a>
        <app-custom-dropdown *ngIf="showDropdown === 'shopOptions'" [options]="shopOptions" (optionSelected)="onOptionSelect($event)"></app-custom-dropdown>
      </li>
    </ul>
    <div class="item-3 hide-md">
      <a class="btn">
        <span class="material-icons">paid</span>
      </a>
      <a class="btn">
        <span class="material-icons">language</span>

      </a>
      <a class="btn">
        <span class="material-icons">invert_colors</span>
      </a>
    </div>
    <div class="item-4">
      <a class="btn">
        <span class="material-icons hide-md">
          shopping_cart
        </span>
      </a>
      <a class="btn search">
        <span class="material-icons">search</span>
      </a>
    </div>
    <span class="material-icons navbar-toggler" (click)="openMenuBar()" *ngIf="!isMenuBarOpen">
      density_medium
    </span>
    <span class="material-icons navbar-toggler" (click)="openMenuBar()" *ngIf="isMenuBarOpen">
      close
    </span>
  </nav>
  <div class="table-container">
    <table *ngIf="!isMenuBarOpen" class="table table-dark">
      <tbody>
        <tr id="tr">
          <th scope="row">HOME</th>
          <td>Larry</td>
          <!-- <td>the Bird</td>
          <td>@twitter</td> -->
        </tr>
      </tbody>
    </table>
  </div>

</section>
