.section {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 991px) {
    position: absolute;
  }

  .navbar {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    flex-wrap: nowrap;
    width: 100%;
    @media screen and (max-width: 991px) {
      padding: 15px 0;
      width: 45rem;
    }
    @media screen and (max-width: 767px) {
      padding: 25px 0;
      width: 35rem;
    }
    @media screen and (max-width: 575px) {
      width: 100%;
    }
    &.scrolled {
      background-color: #051922;
      padding: 15px 0;
      @media screen and (max-width: 991px) {
        background-color: transparent;
      }
    }

    .item-1 {
      width: 250px;
      margin-left: 0.5%;
      .logoImg {
        width: 150px;
      }
    }

    .item-2 {
      .nav-link {
        font-weight: 700;
        font-weight: 1rem;
        padding: 20px;
        color: white;
      }
      .nav-link:hover {
        color: #f28123;
      }
    }

    .item-3 {
      margin: 0;
      li {
        list-style-type: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    [class*="item-"] {
      display: flex;
      justify-content: center;
      padding-right: 50px;
      padding-left: 50px;
      @media screen and (max-width: 1200px) {
        padding-right: 1rem;
        padding-left: 1rem;
      }
      .btn {
        display: flex;
        align-items: center;
        padding: 0 3px;
      }
    }
    .material-icons {
      color: white;
      cursor: pointer;
      &:hover {
        color: #f28123;
      }
    }

    // hide items on 991 px
    // and style the remaining items
    @media screen and (max-width: 991px) {
      .item-1 {
        display: block;
        width: 150px;
      }
      .item-4 {
        margin-left: auto;
      }
      .hide-md {
        display: none;
      }
      .navbar-toggler {
        margin-right: 2.5%;
        background-color: chocolate;
        color: black;
        &:hover {
          color: black;
        }
      }
    }
  }

  // for small screen
  .table-container {
    display: flex;
    justify-content: center;
    width: 43rem;
    @media screen and (min-width: 992px) {
      display: none;
    }
    @media screen and (max-width: 767px) {
      width: 33rem;
    }
    @media screen and (max-width: 575px) {
      margin-left: 0.5rem;
      width: 93%;
    }
    #table {
      border: 1px solid black;
      width: 100%;
      .tr {
        height: 2.5rem;
        &:nth-child(n + 2) {
          border-top: 1px solid rgb(255, 255, 255, 0.5);
        }
        td {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 35px;
          color: white;
          height: inherit;
          background-color: #0c1923;
          cursor: pointer;
          &:hover {
            background-color: rgb(48, 63, 75);
          }
          &.clickable:hover {
            color: #f28123;
          }
          .btn {
            background-color: #253039;
            color: #afb3b7;
          }
        }
        a {
          display: block;
          padding-left: 5rem;
          background-color: #0c1923;
          color: white;
          cursor: pointer;
          line-height: 2rem;
          text-decoration: none;
          &:nth-child(n + 2) {
            border-top: 1px solid rgb(255, 255, 255, 0.3);
          }
          &:hover, &.selected {
            color: #f28123;
            background-color: rgb(48, 63, 75);
          }
        }
      }
    }
  }
}
