<section class="section">
  <nav appScroll class="navbar navbar-expand-lg navbar-light">
    <a class="item-1" id="navbar-brand" routerLink="/Home/Static" ><img class="logoImg" src="assets\img\logo.png" alt="logo"></a>
    <ul class="navbar-nav item-2 hide-md">
      <li class="nav-item" (mouseover)="onHoverDropdown('homeOptions', $event.type)"
        (mouseleave)="onHoverDropdown('homeOptions', $event.type)">
        <a class="nav-link" routerLink="/Home" routerLinkActive="active" translate>Header.Home</a>
        <app-custom-dropdown *ngIf="showHoverDropdown === 'homeOptions'" [options]="homeOptions"
          (optionSelected)="routeLinkString = $event.value" [routerLink]="['/Home/' + routeLinkString]"></app-custom-dropdown>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/About" routerLinkActive="active" translate>Header.About</a>
      </li>
      <li class="nav-item" (mouseover)="onHoverDropdown('pagesOptions', $event.type)"
        (mouseleave)="onHoverDropdown('pagesOptions', $event.type)">
        <a class="nav-link" translate>Header.Pages</a>
        <app-custom-dropdown *ngIf="showHoverDropdown === 'pagesOptions'" [options]="pagesOptions"
        (optionSelected)="routeLinkString = $event.value" [routerLink]="[routeLinkString]"></app-custom-dropdown>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/News" routerLinkActive="active" translate>Header.News</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/Contact" routerLinkActive="active" translate>Header.Contact</a>
      </li>
      <li class="nav-item"  (mouseover)="onHoverDropdown('shopOptions', $event.type)"
        (mouseleave)="onHoverDropdown('shopOptions', $event.type)">
        <a class="nav-link" routerLink="/Shop" routerLinkActive="active" translate>Header.Shop</a>
        <app-custom-dropdown *ngIf="showHoverDropdown === 'shopOptions'" [options]="shopOptions"
        (optionSelected)="routeLinkString = $event.value" [routerLink]="[routeLinkString]"></app-custom-dropdown>
      </li>
    </ul>
    <ul class="item-3 hide-md">
      <li class="nav-item" (mouseover)="onHoverDropdown('paidOptions', $event.type)"
        (mouseleave)="onHoverDropdown('paidOptions', $event.type)">
        <span class="material-icons">paid</span>
        <app-custom-dropdown *ngIf="showHoverDropdown === 'paidOptions'" [options]="paidOptions"
          (optionSelected)="onCurrencyChange($event.value)"
          (optionSelected)="changeSelectedDesignstyle($event, paidOptions)"></app-custom-dropdown>
      </li>
      <li class="nav-item" (mouseover)="onHoverDropdown('languageOptions', $event.type)"
        (mouseleave)="onHoverDropdown('languageOptions', $event.type)">
        <span class="material-icons">language</span>
        <app-custom-dropdown *ngIf="showHoverDropdown === 'languageOptions'" [options]="languageOptions"
          (optionSelected)="changeLangage($event.value)"
          (optionSelected)="changeSelectedDesignstyle($event, languageOptions)"></app-custom-dropdown>
      </li>
      <li class="nav-item" (mouseover)="onHoverDropdown('invert_colorsOptions', $event.type)"
        (mouseleave)="onHoverDropdown('invert_colorsOptions', $event.type)">
        <span class="material-icons">invert_colors</span>
        <app-custom-dropdown *ngIf="showHoverDropdown === 'invert_colorsOptions'" [options]="invert_colorsOptions"
          (optionSelected)="changeThemeCssFile($event.value)"
          (optionSelected)="changeSelectedDesignstyle($event, invert_colorsOptions)"></app-custom-dropdown>
      </li>
    </ul>
    <div class="item-4">
      <a class="btn" routerLink="/Cart">
        <span class="material-icons hide-md" routerLinkActive="active">
          shopping_cart
        </span>
      </a>
      <a class="btn search" routerLink="/Search">
        <span class="material-icons" routerLinkActive="active">search</span>
      </a>
    </div>
    <div class="navbar-toggler" (click)="openMenuBar()">
      <span class="material-icons" *ngIf="!isMenuBarOpen">
        density_medium
      </span>
      <span class="material-icons" *ngIf="isMenuBarOpen">
        close
      </span>
    </div>
  </nav>

  <!-- only diplayed in small screens instead templete above -->
  <div class="table-container">
    <table *ngIf="isMenuBarOpen" id="table" [@scaleAnimation]>
      <tbody>
        <tr class="tr">
          <td routerLink="/Home/Static" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <span class="title" translate>Header.Home</span>
            <button class="btn dropdownToggler" (click)="onToggleDropdown('homeOptions');$event.stopPropagation();">
              <span *ngIf="showToggleDropdown !== 'homeOptions';else close">+</span>
              <ng-template #close>-</ng-template>
            </button>
          </td>
          <div *ngIf="showToggleDropdown === 'homeOptions'" [@scaleAnimation]>
            <a *ngFor="let option of homeOptions" [routerLink]="['/Home/' + option.value]" translate>Custom-Dropdown-Options.{{ option.title }}</a>
          </div>
        </tr>
        <tr class="tr">
          <td class="clickable" routerLink="/About" routerLinkActive="active" >
            <span class="title" translate>Header.About</span>
          </td>
        </tr>
        <tr class="tr">
          <td>
            <span class="title" translate>Header.Pages</span>
            <button class="btn dropdownToggler" (click)="onToggleDropdown('pagesOptions')">
              <span *ngIf="showToggleDropdown !== 'pagesOptions';else close">+</span>
              <ng-template #close>-</ng-template>
            </button>
          </td>
          <div *ngIf="showToggleDropdown === 'pagesOptions'" [@scaleAnimation]>
            <a *ngFor="let option of pagesOptions" [routerLink]="[option.value]" translate>Custom-Dropdown-Options.{{ option.title }}</a>
          </div>
        </tr>
        <tr class="tr">
          <td class="clickable" routerLink="/News" routerLinkActive="active" >
            <span class="title" translate>Header.News</span>
          </td>
        </tr>
        <tr class="tr">
          <td class="clickable" routerLink="/Contact" routerLinkActive="active">
            <span class="title" translate>Header.Contact</span>
          </td>
        </tr>
        <tr class="tr">
          <td routerLink="/Shop" routerLinkActive="active">
            <span class="title" translate>Header.Shop</span>
            <button class="btn dropdownToggler" (click)="onToggleDropdown('shopOptions')">
              <span *ngIf="showToggleDropdown !== 'shopOptions';else close">+</span>
              <ng-template #close>-</ng-template>
            </button>
          </td>
          <div *ngIf="showToggleDropdown === 'shopOptions'" [@scaleAnimation]>
            <a *ngFor="let option of shopOptions" [routerLink]="[option.value]" translate>Custom-Dropdown-Options.{{ option.title }}</a>
          </div>
        </tr>
        <tr class="tr">
          <td>
            <span class="material-icons title">paid</span>
            <button class="btn dropdownToggler" (click)="onToggleDropdown('paidOptions')">
              <span *ngIf="showToggleDropdown !== 'paidOptions';else close">+</span>
              <ng-template #close>-</ng-template>
            </button>
          </td>
          <div *ngIf="showToggleDropdown === 'paidOptions'" [@scaleAnimation]>
            <a *ngFor="let option of paidOptions" [ngClass]="{'selected': option.selected == true}"
              (click)="changeSelectedDesignstyle(option, paidOptions)" (click)="onCurrencyChange(option.value)"
              onCurrencyChange translate>Custom-Dropdown-Options.{{ option.title }}</a>
          </div>
        </tr>
        <tr class="tr">
          <td>
            <span class="material-icons title">language</span>
            <button class="btn dropdownToggler" (click)="onToggleDropdown('languageOptions')">
              <span *ngIf="showToggleDropdown !== 'languageOptions';else close">+</span>
              <ng-template #close>-</ng-template>
            </button>
          </td>
          <div *ngIf="showToggleDropdown === 'languageOptions'" [@scaleAnimation]>
            <a *ngFor="let option of languageOptions" (click)="changeLangage(option.value)"
              (click)="changeSelectedDesignstyle(option, languageOptions)"
              [ngClass]="{'selected': option.selected == true}" translate>Custom-Dropdown-Options.{{ option.title }}</a>
          </div>
        </tr>
        <tr class="tr">
          <td>
            <span class="material-icons title">invert_colors</span>
            <button class="btn dropdownToggler" (click)="onToggleDropdown('invert_colorsOptions')">
              <span *ngIf="showToggleDropdown !== 'invert_colorsOptions';else close">+</span>
              <ng-template #close>-</ng-template>
            </button>
          </td>
          <div *ngIf="showToggleDropdown === 'invert_colorsOptions'" [@scaleAnimation]>
            <a *ngFor="let option of invert_colorsOptions" [ngClass]="{'selected': option.selected == true}"
              (click)="changeSelectedDesignstyle(option, invert_colorsOptions)"
              (click)="changeThemeCssFile(option.value)" translate>Custom-Dropdown-Options.{{ option.title }}</a>
          </div>
        </tr>
        <tr class="tr">
          <td class="clickable" routerLink="/Cart" routerLinkActive="active">
            <span class="material-icons title">shopping_cart</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
