.section {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 991px) {
    position: absolute;
  }

  .navbar {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    flex-wrap: nowrap;
    width: 100%;
    @media screen and (max-width: 991px) {
      padding: 15px 0;
      width: 45rem;
    }
    @media screen and (max-width: 767px) {
      padding: 25px 0;
      width: 35rem;
    }
    @media screen and (max-width: 575px) {
      width: 95%;;
    }
    &.scrolled {
      padding: 15px 0;
      @media screen and (max-width: 991px) {
        background-color: transparent;
      }
    }

    .item-1 {
      width: 250px;
      .logoImg {
        width: 150px;
      }
    }

    .item-2 {
      display: flex;
      gap: 20px;
      .nav-link {
        font-weight: 700;
        font-weight: 1rem;
        // padding: 20px;
      }
      .nav-link:hover {
        color: #f28123;
      }
    }

    .item-3 {
      margin: 0;
      li {
        list-style-type: none;
        padding: 5px 5px 0 5px;
      }
    }

    [class*="item-"] {
      display: flex;
      justify-content: center;
      padding: 0 50px;
      @media screen and (max-width: 1200px) {
        padding: 0 1rem;
      }
      .btn {
        display: flex;
        align-items: center;
        padding: 0 3px;
      }
    }
    .material-icons {
      cursor: pointer;
      &:hover {
        color: #f28123;
      }
    }

    // hide items on 991 px
    // and style the remaining items
    @media screen and (max-width: 991px) {
      .item-1 {
        width: 150px;
      }
      .item-4 {
        margin-left: auto;
      }
      .hide-md {
        display: none;
      }
      .navbar-toggler {
        height: 36px;
        width: 38px;
        display: flex;
        justify-content: center;
        background-color: chocolate;
      }
    }
  }

  // for small screen
  .table-container {
    display: flex;
    justify-content: center;
    width: 45rem;
    @media screen and (min-width: 992px) {
      display: none;
    }
    @media screen and (max-width: 767px) {
      width: 35rem;
    }
    @media screen and (max-width: 575px) {
      width: 95%;
    }
    #table {
      width: 100%;
      .tr {
        height: 2.5rem;
        &:nth-child(n + 2) {
          border-top: 1px solid #68797E;
        }
        td {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: inherit;
          cursor: pointer;
          .title {
            padding: 0 35px;
          }
          &:hover {
            background-color: rgb(48, 63, 75);
          }
          &.clickable:hover {
            color: #f28123;
          }
          .btn {
            width: 35px;
          }
        }
        a {
          display: block;
          padding: 0 5rem;
          cursor: pointer;
          line-height: 2rem;
          text-decoration: none;
          &:nth-child(n + 2) {
            border-top: 1px solid rgb(255, 255, 255, 0.3);
          }
          &:hover, &.selected {
            color: #f28123;
            background-color: rgb(48, 63, 75);
          }
        }
      }
    }
  }
}
