<div class="not-found" id="not-found">
    <div class="header header-background">
        <p class="text-header" translate>Not-Found.FRESH-ADN-ORGANIC</p>
        <p class="page" translate>Not-Found.404</p>
      </div>

      <div class="main-content primary-background">
        <div class="emoji">
          <span class="material-icons">
            sentiment_very_dissatisfied
            </span>
        </div>
        <div class="desc">
          <h1 translate>Not-Found.Oops!-Not-Found.</h1>
          <h6 translate>Not-Found.The-page-you-requested</h6>
        </div>
        <div class="back-home">
          <button class="btn button-hover" routerLink="/Home" translate>Not-Found.Back-to-Home</button>
        </div>
      </div>
</div>

