.single-product {
  .header {
    height: 451px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text-header {
      color: #f28123;
      font-weight: 700;
      letter-spacing: 7px;
    }
    .page {
      font-size: 50px;
      font-weight: 900;
      letter-spacing: 7px;
      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }
  }

  .main-content {
    padding: 5%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    .benfits-content {
      display: flex;
      justify-content: center;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      gap: 50px;
      .img-container {
        flex-basis: 50%;
        .img-wrapper {
          display: flex;
          justify-content: flex-end;
          @media screen and (max-width: 767px) {
            justify-content: flex-start;
          }
          img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            max-width: 445px;
            @media screen and (max-width: 991px) {
              max-width: 345px;
            }
            @media screen and (max-width: 767px) {
              max-width: 90%;
            }
          }
        }
      }
      .benfits-container {
        flex-basis: 50%;
        .benefit-header {
          font-size: 22px;
          font-weight: 600;
          @media screen and (max-width: 991px) {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.6;
          }
        }
        .per-kh {
          font-size: 18px;
          display: block;
          opacity: 0.8;
          margin-bottom: 10px;
          font-weight: 400;
        }
        .price {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 10px;
          line-height: inherit;
        }
        .benefit-Description {
          font-size: 15px;
          line-height: 1.8;
          margin-bottom: 1.25rem;
          max-width: 90%;
          font-weight: 400;
          margin-bottom: 1.25rem;
        }
        .add-to-cart-container {
          margin-bottom: 15px;
          display: flex;
          gap: 10px;
          .add-to-cart {
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding: 10px 20px;
            background-color: #f28123;
            height: 2.5rem;
            &:hover {
              color: #f28123;
            }
          }
        }
        .quantity-container {
          display: flex;
          margin-bottom: 15px;
          height: 2.5rem;
          .decrease,
          .input,
          .increase {
            border: 1px solid #f28123;
          }

          .decrease,
          .increase {
            font-size: 1.5rem;
            font-weight: 900;
            display: flex;
            align-items: center;
          }

          .input {
            text-align: center;
            width: 4rem;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
        .share {
          p {
            font-size: 20px;
            font-weight: 600;
            margin: 35px 0 0 0;
          }
          .links {
            display: flex;
            // justify-content: center;
            align-items: flex-start;
            gap: 15px;
            // padding: 0 1rem;
            .link:hover {
              color: #f28123;
              cursor: pointer;
            }
          }
        }
      }
    }
    .shop-now {
      margin-top: 2rem;
      border-radius: 50px;
      width: 7rem;
      background-color: #f28123;
      &:hover {
        color: #f28123;
      }
    }
  }
}


