<section class="sect">
    <img src="assets\img\grape-bg.jpg" alt="grape">
            <div class="main text-color">
                <div class="text-header" translate>Home.FRESH-&-ORGANIC</div>
                <div class="description" translate>Home.Delicious-Seasonal-Fruits</div>
                <div class="btns">
                    <button
                    class="btn collection text-color button-hover"
                     routerLink="/Shop"
                     translate>
                     Home.Fruit-Collection
                    </button>
                    <button class="btn contact-us text-color" routerLink="/Contact" translate>Home.Contact-Us</button>
                </div>

            </div>
</section>