<section class="sect">
    <img src="assets\img\grape-bg.jpg" alt="grape">
            <div class="main text-color">
                <div class="text-header" translate>Home.Static-Home.FRESH-&-ORGANIC</div>
                <div class="description" translate>Home.Static-Home.Delicious-Seasonal-Fruits</div>
                <div class="btns">
                    <div class="btn collection text-color button-hover" translate>Home.Static-Home.Fruit-Collection</div>
                    <div class="btn contact-us text-color" translate>Home.Static-Home.Contact-Us</div>
                </div>

            </div>
</section>