<div class="card secondary-background" id="card">
  <img class="card-img-top" [src]=fruit.fruitImg alt="Card image cap" (click)="fruitSelected.emit()">
  <div class="card-body">
    <h5 class="card-title" translate>Fruits.{{ fruit.fruitName }}</h5>
    <p class="card-text" translate>Fruits.Per-Kg</p>
    <h4 class="price">{{ fruit.fruitPrice * exchangerate | currency:currency :"symbol"}}</h4>
    <div class="add-to-cart-container" *ngIf="quantity === 0"  (click)="$event.stopPropagation();">
      <button class="btn add-to-cart button-hover" (click)="onAddToCart()">
        <span class="material-icons">shopping_cart</span>
        <span translate>Fruits.Add-to-Cart</span>
      </button>
    </div>
    <div class="quantity-container" *ngIf="quantity !== 0" (click)="$event.stopPropagation();">
      <button class="btn decrease secondary-background" (click)="onDecreaseQuantity()">-</button>
      <input class="input secondary-background" type="number" [(ngModel)]="quantity" min="0" (keyup)="onTypeOnInput()">
      <button class="btn increase secondary-background" (click)="onIncreaseQuantity()">+</button>
    </div>
  </div>
</div>
