.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: black;
  border: 0;
  border-radius: 10px 10px 0 0;
  max-width: 360px;
  min-height: 524px;
  @media screen and (max-width: 1200px) {
    max-width: 320px;
  }
  @media screen and (max-width: 767px) {
    min-height: fit-content;
  }
  &:hover {
    box-shadow: none;
  }

  // so the image have hover style to hover anywehre in the style
  &:hover {
    .card-img-top {
      opacity: 0.8;
    }
  }

  .card-img-top {
    cursor: pointer;
    border-radius: 10px 10px 0 0;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .card-title {
      font-weight: 600;
      cursor: pointer;
    }

    h6 {
      display: flex;
      opacity: 0.6;
      color: #051922;
      font-size: 0.85em;
      gap: 15px;
      span {
          display: flex;
          gap: 5px;
          .material-icons{
            font-size: 1.2em;
          }
      }
    }

    .btn{
    display: inline-block;
    margin-top: 15px;
    color: #051922;
    font-weight: 700;
    width: fit-content;
        &:hover {
            color: #f28123 !important;
        }
    }
  }
}
