.home {
  .header {
    height: 100%;
  }
  .main-content {
    .benfits {
      padding: 80px 0;
      display: flex;
      gap: 8rem;
      justify-content: center;
      @media screen and (max-width: 1200px) {
        gap: 5rem;
        flex-wrap: wrap;
      }
      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
      .item {
        display: flex;
        gap: 10px;
        .material-icons {
          width: 4.063rem;
          height: 4.063rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px #f28123 dotted;
          border-radius: 999px;
          color: #f28123;
          // text-align: center;
          // line-height: 60px;
        }
        .title {
          font-size: 1.1rem;
          font-weight: 900;
          align-items: center;
        }
        .span {
          font-size: 1rem;
          opacity: 0.75;
          align-items: center;
        }
      }
    }

    .products {
      padding: 80px 15px;
      .header {
        .title {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 2.5rem;
          span {
            color: #f28123;
          }
        }
        .hr {
          width: 3.125rem;
          height: 0.125rem;
          background-color: #f28123;
          margin: 0 auto;
        }
        .discription {
          display: flex;
          justify-content: center;
          padding-top: 20px;
          p {
            max-width: 530px;
            text-align: center;
          }
        }
      }

      .shop {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 4rem 0 6rem 0;
      }
    }

    .sales {
      display: flex;
      padding: 5rem 15px;
      align-items: stretch;
      justify-content: center;
      background-color: #f5f5f5;
      color: #0c1923;
      flex-wrap: wrap;

      .img {
        // width: 540px;
        .offer {
          margin: 0 3rem;
          border-radius: 50%;
          position: absolute;
          z-index: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 110px;
          height: 110px;
          border: 1px solid #fff;
          background-color: rgba(242, 129, 35, 0.75);
          .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 50%;
            background-color: #f28123;
            width: 94px;
            height: 94px;
            margin: auto;
            direction: ltr;
            p {
              text-align: center;
              margin-bottom: 0;
              &.percentage {
                font-size: 24px;
                font-weight: bolder;
              }
            }
          }
        }
        img {
          max-width: 100%;
          vertical-align: middle;
          border-style: none;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
        gap: 1.3rem;
        .header {
          height: fit-content;
          font-size: 2rem;
          font-weight: 700;
          line-height: 2.25rem;
          .title {
            span {
              color: #f28123;
            }
          }
          .fruit-name {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.5rem;
            line-height: 1.75rem;
          }
        }

        .sale-text {
          font-weight: 400;
          line-height: 1.8em;
          margin-top: 25px;
          margin-bottom: 25px;
          max-width: 450px;
        }

        .counter {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .count {
            text-align: center;
            border: 2px solid #f28123;
            line-height: 1em;
            padding: 8px 20px 14px;
            .number {
              color: #f28123;
              font-size: 1.875rem;
              line-height: 1.4em;
            }
            .text {
              color: #0c1923;
            }
          }
        }

        .add-to-cart-container {
          display: flex;
          gap: 10px;
          .add-to-cart {
            display: flex;
            border-radius: 50px;
            padding: 10px 20px;
            background-color: #f28123;
            color: white;
            &:hover {
              color: #f28123;
              background-color: #0c1923;
            }
          }
        }

        .quantity-container {
          display: flex;
          .decrease,
          .input,
          .increase {
            border: 1px solid #f28123;
          }

          .decrease,
          .increase {
            font-size: 1.5rem;
            font-weight: 900;
          }

          .input {
            text-align: center;
            width: 4rem;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }
    }

    .team {
      display: flex;
      justify-content: center;
      padding: 150px 15px;
      .picsum-img-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        img {
          width: 100px;
          border-radius: 50%;
        }
      }
      .inf {
        display: flex;
        flex-direction: column;
        align-items: center;
        h5 {
          display: block;
          margin-top: 10px;
          color: #999999;
          font-weight: 600;
        }
        p {
          text-align: center;
          font-size: 17px;
          font-style: italic;
          max-width: 700px;
          margin: 20px auto;
          line-height: 1.8;
          color: #999999;
        }
        .material-icons {
          font-size: 3rem;
          color: #999999;
        }
      }
    }

    .We-are-Fruitkha {
      display: flex;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 150px;
      @media screen and (max-width: 991px) {
        flex-wrap: wrap;
      }
      .popup-youtube {
        max-width: 50%;
        padding: 0 15px;
        @media screen and (max-width: 991px) {
          max-width: 100%;
        }
        .video-play-btn {
          background: url(../../../assets/img/Fruitkha.jpg);
          display: block;
          height: 450px;
          width: 540px;
          background-size: 540px 450px;
          background-repeat: no-repeat;
          margin-left: auto;
          border-radius: 0 15px;
          @media screen and (max-width: 991px) {
            height: 400px;
            width: 490px;
          }
          @media screen and (max-width: 768px) {
            height: 350px;
            width: 440px;
          }
          @media screen and (max-width: 575px) {
            height: 300px;
            width: 390px;
          }
          @media screen and (max-width: 450px) {
            height: 200px;
            width: 290px;
          }
          .material-icons {
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            border-radius: 0 15px;
            background-color: rgb(12, 25, 35, 0.4);
            font-size: 90px;
            z-index: 1;
            color: #f28123;
          }
        }
      }

      .discription {
        max-width: 50%;
        padding: 0 15px;
        @media screen and (max-width: 1200px) {
          max-width: 100%;
          padding: 20px;
        }
        .since {
          margin-bottom: 10px;
          font-size: 15px;
          line-height: 1.6rem;
          padding-bottom: 1rem;
        }
        h1 {
          font-size: 3rem;
          font-weight: 700;
          line-height: 3.25rem;
          padding-bottom: 1rem;
          @media screen and (max-width: 768px) {
            font-size: 2.5rem;
            line-height: 2.75rem;
          }
          @media screen and (max-width: 575px) {
            font-size: 2rem;
            line-height: 2.25rem;
          }
          span {
            color: #f28123;
          }
        }
        p {
          max-width: 460px;
          font-size: 15px;
          line-height: 1.6rem;
          margin-bottom: 10px;
          padding-bottom: 1rem;
        }
        .btn {
          border-radius: 50px;
          line-height: 2rem;
          width: 7rem;
          background-color: #f28123;
          &:hover {
            color: #f28123;
          }
        }
      }
    }

    .sale-up-to {
      display: flex;
      height: 500px;
      .description {
        background-color: rgb(245, 245, 245, 0.4);
        width: 100%;
        height: 100%;
        z-index: 2;
        align-self: center;
        padding: 100px 20px;
        p {
          color: #0c1923;
          position: relative;
          font-size: 50px;
          line-height: 1.2em;
          margin-bottom: 0px;
          @media screen and (max-width: 768px) {
            font-size: 34px;
          }
          span {
            color: #f28123;
          }
        }
        .up-to {
          display: flex;
          position: relative;
          font-size: 60px;
          font-weight: 700;
          align-items: center;
          margin: 25px 0;
          .percentage {
            color: #f28123;
          }
          .sale-text p,
          .off {
            position: relative;
            font-size: 24px;
            line-height: 1.1em;
            color: #051922;
            font-weight: 400;
            text-align: center;
            margin-right: 10px;
          }
        }
        .btn {
          border-radius: 50px;
          padding: 10px 20px;
          background-color: #f28123;
          color: white;
          &:hover {
            color: #f28123;
            background-color: #0c1923;
          }
        }
      }
      .img {
        position: absolute;
        z-index: 0;
        height: 500px;
        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .our-news {
      padding: 150px 20px;

      .header {
        .title {
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 2.5rem;
          span {
            color: #f28123;
          }
        }
        .hr {
          width: 3.125rem;
          height: 0.125rem;
          background-color: #f28123;
          margin: 0 auto;
        }
        .discription {
          display: flex;
          justify-content: center;
          padding-top: 20px;
          p {
            max-width: 530px;
            text-align: center;
          }
        }
      }
      .news {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px 0;
        gap: 25px;
      }

      .btn-wrapper {
        display: flex;
        justify-content: center;
        .btn {
          border-radius: 50px;
          line-height: 2rem;
          width: 7rem;
          background-color: #f28123;
          &:hover {
            color: #f28123;
          }
        }
      }
    }
  }
}
