<div class="check-out" id="check-out">
  <div class="header header-background">
    <p class="text-header" translate>CHECKOUT.FRESH-AND-ORGANIC</p>
    <p class="page" translate>CHECKOUT.Check-Out-Product</p>
  </div>

  <div class="main-content primary-background">
    <div class="check-out" *ngIf="cart.length > 0">
      <form class="customer-inf" #f="ngForm">
        <div class="Header secondary-background" translate>
          <span
            [ngStyle]="{ visibility: f.valid ? 'visible' : 'hidden' }"
            class="material-icons"
          >
            check_circle
          </span>
          CHECKOUT.Customer-Informations
        </div>
        <div class="customer-form border">
          <input
            class="input form-control"
            type="string"
            placeholder="{{ 'CHECKOUT.Name' | translate }}"
            id="Name"
            ngModel
            name="Name"
            required
            #Name="ngModel"
          />
          <input
            class="input form-control"
            type="email"
            placeholder="{{ 'CHECKOUT.Email' | translate }}"
            id="Email"
            ngModel
            name="Email"
            required
            #Email="ngModel"
          />
          <input
            class="input form-control"
            type="string"
            placeholder="{{ 'CHECKOUT.Address' | translate }}"
            id="Address"
            ngModel
            name="Address"
            required
            #Address="ngModel"
          />
          <input
            class="input form-control"
            type="string"
            placeholder="{{ 'CHECKOUT.Phone' | translate }}"
            id="Phone"
            ngModel
            name="Phone"
            required
            #Phone="ngModel"
          />
          <textarea
            class="input form-control textarea"
            type="string"
            placeholder="{{ 'CHECKOUT.Say-Something' | translate }}"
            id="textarea"
            ngModel
            name="textarea"
            #textarea="ngModel"
          ></textarea>
        </div>
      </form>
      <div class="order-details">
        <table class="table table-borderless">
          <thead class="secondary-background">
            <tr>
              <th scope="col" translate>CHECKOUT.Your-order-Details</th>
              <th scope="col" translate>CHECKOUT.Price</th>
            </tr>
          </thead>
          <tbody class="primary-background" *ngIf="cart">
            <tr>
              <th class="border" scope="col" translate>CHECKOUT.Product</th>
              <td class="border" translate>CHECKOUT.Total</td>
            </tr>
            <tr *ngFor="let item of cart">
              <th class="border" scope="col" translate>Fruits.{{ item.fruit.fruitName }}</th>
              <td class="border">
                {{
                  item.fruit.fruitPrice * item.quantity * exchangerate
                    | currency: currency:"symbol"
                }}
              </td>
            </tr>
            <tr>
              <th class="border" scope="col" translate>CHECKOUT.Subtotal</th>
              <td>
                {{ Subtotal * exchangerate | currency: currency:"symbol" }}
              </td>
            </tr>
            <tr>
              <th class="border" scope="col" translate>CHECKOUT.Shipping</th>
              <td class="border">
                {{ Shipping * exchangerate | currency: currency:"symbol" }}
              </td>
            </tr>
            <tr>
              <th class="border" scope="col" translate>CHECKOUT.Total</th>
              <td class="border" *ngIf="discount == 0">
                {{
                  (Subtotal + Shipping) * exchangerate
                    | currency: currency:"symbol"
                }}
              </td>
              <td class="border" *ngIf="discount != 0" scope="row">
                <span class="before-discount">{{
                  (Subtotal + Shipping) * exchangerate
                    | currency: currency:"symbol"
                }}</span>
                <span class="after-discount primary-background">
                  {{
                    (Subtotal + Shipping) * exchangerate -
                      ((Subtotal + Shipping) * exchangerate * discount) / 100
                      | currency: currency:"symbol"
                  }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
        <button
          class="btn place-order button-hover"
          (click)="onPlaceOrder(f)"
          [disabled]="f.invalid"
          translate>
          CHECKOUT.Place-Order
        </button>
      </div>
    </div>
    <div class="shop-now" *ngIf="cart.length <= 0">
      <h1>There is no items in your cart to checkout</h1>
      <button class="btn button-hover text-color"  routerLink="/Shop" translate>CHECKOUT.shop-now</button>
    </div>
  </div>
</div>
