<!-- make the direction static so it wont break with changeing language -->
<div class="brands secondary-background" dir="ltr">
  <div class="content-section implementation carousel-demo">
    <div class="card secondary-background">
      <p-carousel [value]="brands" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions" [showIndicators]="false"
        [showNavigators]="false">
        <ng-template let-brand pTemplate="item">
          <img src="{{brand}}" class="card-img-top" alt="brand">
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
