* {
  text-align: left;
}

#home {
  .benfits{
    @media screen and (max-width: 700px) {
      margin-left: 10%;
    }
  }

  .quantity-container {

    .decrease {
      border-radius: 10px 0 0 10px;
    }

    .increase {
      border-radius: 0 10px 10px 0;
    }
  }
}

#card {
  .quantity-container {
    .decrease {
      border-radius: 10px 0 0 10px;
    }

    .increase {
      border-radius: 0 10px 10px 0;
    }
  }
}