* {
  text-align: left;
}
#table {
  .tr {
    td {
      .title {
        margin-left: 35px;
      }
    }
  }
}
#home {
  .benfits {
    @media screen and (max-width: 700px) {
      padding-left: 10%;
    }
  }
}

#card,
#home,
#single-product {
  .quantity-container {
    .decrease {
      border-radius: 10px 0 0 10px;
    }

    .increase {
      border-radius: 0 10px 10px 0;
    }
  }
}

#footer {
  .input-wrapper {
    .material-icons {
      transform: rotate(0deg);
    }
  }
}

#about {

  .why-fruitkha {
    padding: 15% 0 15% 15%;
  }
}

#slider-home {
  .carousel-caption {
    h3 {
      letter-spacing: 7px;
    }
  }
}

#static-home {
  .main {
    .text-header {
        letter-spacing: .4rem;
    }
    .description {
      letter-spacing: .3rem;
    }
  }
}

// this applys to aall page headers to give it letter spacing only in english
.header {
  .text-header {
    letter-spacing: 7px;
  }
  .page {
    letter-spacing: 7px;
  }
}