* {
  text-align: left;
}
#table {
  .tr {
    td {
      .title {
        margin-left: 35px;
      }
    }
  }
}
#home {
  .benfits {
    @media screen and (max-width: 700px) {
      padding-left: 10%;
    }
  }
}

#card,
#home,
#single-product {
  .quantity-container {
    .decrease {
      border-radius: 10px 0 0 10px;
    }

    .increase {
      border-radius: 0 10px 10px 0;
    }
  }
}

#footer {
  .input-wrapper {
    .material-icons {
      transform: rotate(0deg);
    }
  }
}

#about {
  .why-fruitkha {
    padding: 15% 0 15% 15%;
  }
}