* {
  text-align: right;
}
#table {
  .tr {
    td {
      .title {
        margin-right: 35px;
      }
    }
  }
}
#home {
  .benfits {
    @media screen and (max-width: 700px) {
      padding-right: 10%;
    }
  }
}

#card,
#home,
#single-product {
  .quantity-container {
    .decrease {
      border-radius: 0 10px 10px 0;
    }
    .increase {
      border-radius: 10px 0 0 10px;
    }
  }
}

#footer {
  .input-wrapper {
    .material-icons {
      transform: rotate(180deg);
    }
  }
}

#about {
  .why-fruitkha {
    padding: 15% 15% 15% 0;
  }
}