* {
  text-align: right;
}

#home {
  .benfits{
    @media screen and (max-width: 700px) {
      margin-right: 10%;
    }
  }

  .sales {
    .quantity-container {
      .decrease {
        border-radius: 0 10px 10px 0;
      }
      .increase {
        border-radius: 10px 0 0 10px;
      }
    }
  }
}

#card {
  .quantity-container {
    .decrease {
      border-radius: 0 10px 10px 0;
    }
    .increase {
      border-radius: 10px 0 0 10px;
    }
  }
}